
.PersonalInfo{
    border:0px;
    width:600px;
    height:950px;
}

.personalInfo_title {
    margin-bottom: 70px;
}

h1.User_name {
    display: inline;
    color: dimgrey;
    font-size: 30px;
}

.personalInfo_content {
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid red 2px;
    padding: 10px;
    border-radius: 20px;
}

.personalInfo_subtitle {
    font-style: italic;
    font-family: fantasy;
    font-weight: bold;
}

.leftbarcontainer .recipeTab {
    position: relative;
    background-color: #D20000;
    border: 1px solid #D20000;
    width: 280px !important;
    margin: auto;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

.leftbarcontainer {
    width: 320px !important;
    margin: 50px auto;
}
.leftbarcontainer > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}





